# Custom
wandb
.vscode
.venv
outputs
results/figures
results/data
slurm*
experiments
checkpoints
saved_runs
dataset
trained_models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

